* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "DynaPuff";
    cursor: url('./images/cursor-default.cur'), auto;
}


#character-creation {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: #b9edff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #1ab5ff;
    text-shadow: 1px 4px 2px gray;
    transition: transform 1.25s ease-in;
}

h1 {
    font-size: 4rem;

}

h2 {
    font-size: 3rem;
}

#gallery {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    height: 10rem;
}

#game-window {
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 20% 1fr 20%;
}

header {
    background: #b9edff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    color: #1ab5ff;
    font-size: 50px;
}

main {
    background: #79d6ff;
    background-size: cover;
    border-top: 10px solid #1ab5ff;
    border-bottom: 10px solid #1ab5ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    height: 15rem;
}

footer {
    background: #b9edff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}